# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,jsx,py,ts,tsx}]
charset = utf-8

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

# Indentation override for all JS under src directory
[*.{js,jsx,json,ts,tsx}]
indent_style = space
indent_size = 2

[*.{yml,yaml,}]
indent_style = space
indent_size = 2

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml,.eslintrc,.prettierrc}]
indent_style = space
indent_size = 2

[*.{conf}]
indent_style = space
indent_size = 2
